.footer__author {
  margin: 0;
  max-width: 186px;
  right: 48px;
  bottom: 24px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}

@media screen and (max-width: 750px) {
  .footer__author {
    margin: 48px 0 0 0;
    line-height: 16px;
  }
}

@media screen and (max-width: 510px) {
  .footer__author {
    margin: 19px auto 0;
  }
} 

@media screen and (max-width: 450px) {
  .footer__author {
    margin: 10px auto 0;
  }
} 

@media screen and (max-width: 320px) {
  .footer__author {
    margin-top: 48px;
    margin-left: 0;
  }
} 