.footer__links {
   font-family: 'Inter', Arial, sans-serif;
   display: flex;
   gap: 0 18px;
}

@media screen and (max-width: 730px) {
    .footer__links {
       margin: 0 auto 0;
    }
}

@media screen and (max-width: 600px) {
    .footer__links {
        flex-direction: column;
    }
}

@media screen and (max-width: 500px) {
    .footer__links {
        margin: 0;
        gap: 32px;
    }
}