.lead__image {
    width: 100%;
    max-width: 984px;
    display: block;
    object-fit: contain;
    object-position: center bottom;
    }

@media screen and (max-width: 768px) {
    .lead__image {
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (max-width: 320px) {
    .lead__image {
        max-width: 320px;
        min-height: 200px;
    }
}