.intro__text {
  margin: 17px 0px 14px 0px;
  width: 100%;
  max-width: 690px;
  padding-top: 23px;
  font-style: normal;
  font-family: 'Inter' Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}

@media screen and (max-width: 320px) {
  .intro__text {
    max-width: 288px;
  }
}

@media screen and (max-width: 768px) {
  .intro__text {
    max-width: 720px;
  }
}