.cover {
  width: 100%;
  margin: 0;
  padding-left: 48px;
  padding-right: 48px;
}

@media screen and (max-width: 1200px) {
  .cover {
    min-height: 700px;
  }
}



@media screen and (max-width: 1024px) {
  .cover {
    min-height: 640px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 980px) {
  .cover {
    min-height: 520px;
  }
}

@media screen and (max-width: 763px) {
  .cover {
    min-height: 480px;
  }
}

@media screen and (max-width: 700px) {
  .cover {
    min-height: 270px;
  }
}

@media screen and (max-width: 600px) {
  .cover {
    min-height: 220px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    min-height: 200px;
  }
}