.place {
  margin: 0 0 80px;
  display: grid;
  max-width: 984px;
  width: 100%;
  grid-template-columns: 460px 1fr;
  grid-template-rows: 1fr;
  column-gap: 40px;
  row-gap: 48px;
}

@media screen and (max-width: 1024px) {
  .place {
    max-width: 928px;
    column-gap: 31px;
    grid-template-columns: 440px 1fr;
  }
}

@media screen and (max-width: 850px) {
  .place {
    grid-template-columns: 100%;
  }
}

@media screen and (max-width: 768px) {
  .place {
    margin: 0px 0 56px;
    grid-template-columns: 340px 1fr;
    column-gap: 28px;
    row-gap: 44px;
  }
}
@media screen and (max-width: 685px) {
  .place {
    margin: 0px 0 53px;
    grid-template-columns: 100%;
    column-gap: 25px;
    row-gap: 42px;
  }
}

@media screen and (max-width: 510px) {
  .place {
    margin: 0 0 50px;
    max-width: 510px;
  }
}

@media screen and (max-width: 320px) {
  .place {
    margin: 0 0 48px;
    max-width: 320px;
    row-gap: 0px;
  }
}