.footer {
  margin: 0;
  display: flex;
  max-width: 1184px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 24px;
  padding-top: 92px;
  justify-content: space-between;
  align-items: flex-start;
}

@media screen and (max-width: 480px) {
  .footer {
   flex-direction: column;
   margin: 0 118px 0 16px;
  }
}

@media screen and (max-width: 720px) {
  .footer {
    max-width: 601px;
    flex-wrap: wrap;
    padding: 0 auto;
  }
}
@media screen and (max-width: 1024px) {
  .footer {
    max-width: 928px;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    max-width: 720px;
    margin: 0;
    padding-right: 24px;
  }
}