.footer {
  margin: 0;
  display: flex;
  max-width: 1184px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 24px;
  padding-top: 92px;
  justify-content: space-between;
  align-items: flex-start;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: 928px;
  }
}

@media screen and (max-width: 720px) {
  .footer {
    max-width: 601px;
    flex-wrap: wrap;
    padding: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 720px;
    margin: 0;
    padding-right: 24px;
    padding-left: 25px;
    padding-top: 42px;
  }
}

@media screen and (max-width: 480px) {
  .footer {
   flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  .footer {
   padding-left: 23px;
   padding-top: 72px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
  padding-left: 18px;
  padding-top: 67px;
  }
}